/* App.css */

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-top: 30px;
  font-size: 28px;
  color: #333;
}

input[type='file'] {
  margin-bottom: 20px;
}

.playlist {
  margin-top: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e0e0e0;
}

li.active {
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
}

.audio-player {
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .playlist {
    max-width: 100%;
  }

  .audio-player {
    max-width: 100%;
  }
}
/* CSS for Next button */
.next-button {
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 5px; /* Adjust margin as needed */
  background-color: #007bff; /* Default background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add some rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px; /* Adjust font size */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Hover effect */
.next-button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}
/* CSS for Previous button */
.previous-button {
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 5px; /* Adjust margin as needed */
  background-color: #007bff; /* Default background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add some rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px; /* Adjust font size */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Hover effect */
.previous-button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}
/* CSS for Play/Pause button */
.play-pause-button {
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 5px; /* Adjust margin as needed */
  background-color: #007bff; /* Default background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add some rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px; /* Adjust font size */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Hover effect */
.play-pause-button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

